body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bookmark-card-component {
  /* flex: 0 1 auto; */
  /* width: calc((100% - 48px) * 0.25); */
  width: 240px;
  margin: 8px;
  height: 100px;
  /* min-width: 290px;
  max-width: 320px; */
  position: relative;
  cursor: pointer;
}

.bookmark-card-image {
  width: 32px;
  height: 32px;
  position: relative;
  /* top: 40px; */
  left: 8px;
  z-index: 1;
  border: 4px solid white;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.bookmark-remove.editable {
  position: relative;
  left: 208px;
  z-index: 1;
  top: -32px;
  width: 24px;
  /* border: 4px solid white; */
  /* box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px; */
}

button {
  width: 64px;
  height: 24px;
  /* font-size: 14px; */
  /* fill: white; */
  border: 0px;
  border-radius: 64px;
  outline: none;
}

button:hover {
  color: white;
  background: #0085FF;
}

.danger-button {
  width: 24px;
  /* height: 24px; */
  background-color: Transparent;
  font-size: 14px;
  color: #C5C7D0;
}
.danger-button:hover {
  color: white;
  background: #F65F7C;
  
}

.editable-text:hover {
  border: 1px dashed #e6e9ef;
}

.bookmark-img {
  position: relative;
  background: white;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bookmark-photo {
  width: 100%;
}

.bookmark-card-container {
  border: 1px solid #e6e9ef;
  border-radius: 4px;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  /* bottom: 32px; */
  top: -56px;
  position: relative;
  overflow: hidden;
}

.bookmark-card-container.editable {
  border: 1px dashed #e6e9ef;
}

.bookmark-card-inner {
  padding: 8px 8px 8px 56px;
  transition: padding 0.16s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  background: white;
  /* height: 205px; */
  overflow-y: hidden;
}

.bookmark-card-inner.editable {
  padding: 8px 8px 8px 8px;
}

.bookmark-card-content {
  /* height: 76px; */
  overflow: hidden;
}

.bookmark-card-title {
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: hidden;
}

.bookmark-card-subtitle {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  color: #333333;
  padding-right: 12px;
}

.multiline-ellipsis-component {
  overflow-wrap: break-word;
}



.new-bookmark-input {
  border-radius: 4px;
  border: 1px solid;
  font-size: 16px;
  padding: 8px 16px;
  outline: 0;
  position: relative;
  margin: 8px;


}

.addNew {
  height: 24px;
  width: 24px;
  font-size: 20px;
  border-radius: 100%;
  cursor: pointer;
}


.submitNew {
  width: 64px;
  height: 24px;
  border: 0px;
  border-radius: 64px;
  outline: none;
  margin: 8px;
  cursor: pointer;
}